.filme-info {
    margin: 20px auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height:800px ;
    padding: 0 8px;
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
}

.filme-info h1 {
    margin: 14px ;
}



.filme-info h3 {
    margin-top: 14px;
}

.filme-info span {
    margin: 8px 0;

}
.area-buttons button{
    margin: 14px 12px 0px 0px;
    font-size: 20px;
    border-color:#116feb ;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    color: #116feb;

}
.area-buttons button:hover{
    background-color: #116feb;
    color: #fff;
    
}
.area-buttons a{
    text-decoration: none;
    color: #116feb;
    transition: all 0.5s;

}
.area-buttons a:hover{
  
    color: #fff;
}