
.containe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.lista-filmes{
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.lista-filmes article{
    
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.lista-filmes img{
    
    max-width: 350px;
    max-height: 240px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  
}
figure{
    background-image: linear-gradient(to left, black);
}
.lista-filmes a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 24px;
    
    text-decoration: none;
    color:#fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
