.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
}
.not-found h1{
   font-size: 120px;
}
.not-found a{
    font-size: 18px;
    padding:10px;
    margin-top: 14px;
    background-color: #116feb;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}